{% extends "layout.html" %}

{%block title%}
    Login
{%endblock%}

{% block content %}
<div class="row">
    <a href="/account/signup" class="fs-2 mb-4 px-5">Dont you have an account?</a>

    <div class="col px-5">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="mt-3 text-danger">
            {{error}}
        </div>    
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}